body{
    background-image: url(../images/my-data-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header>p{
    margin-top: 15vh;
    margin-left: 8vh;
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.content{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.content picture{
    position: relative;
}

.content picture>span{
    position: absolute;
    top: 35px;
    text-align: center;
    width: 70px;
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
}

.content picture>p.title{
    position: absolute;
    top: 12px;
    text-align: center;
    width: 70px;
    font-size: 12px;
}

.content picture>img{
    max-width: 70px;
}

.red>span{
    color: #ff3131;
}

.yellow>span{
    color: #ffb604;
}

.green>span{
    color: #0acd44;
}

.box-content-grid {
    border: 1px solid transparent;
}

.content-grid {
    width: 100%;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.content-body {
    display: flex;
    gap: 95px;
}


header picture img,
footer picture img{
    max-width: 100px;
}

a{
    opacity: 0;
}